In [1]:
import pandas as pd

In [9]:
file = open('map.txt', 'r')
Lines = file.readlines()

In [17]:
for i, x in enumerate(Lines):
    print (i)
    print (x)

0
LUPA

1
QUESTIONNAIRE 2:

2


3
Questions:

4
                   Score

5
     0  1   2   3   4   5   6   7   8   9   10

6


7
id 16)  5  27  28  29  30  31  32  33  34  35   6

8


9
id 17)  7  27  28  29  30  31  32  33  34  35   8

10


11
id 18)  9  27  28  29  30  31  32  33  34  35   10

12


13
id 19)  11 27  28  29  30  31  32  33  34  35   12

14


15
id 20)  13 27  28  29  30  31  32  33  34  35   14

16


17
id 21)  15 27  28  29  30  31  32  33  34  35   16

18


19
id 22)  17 27  28  29  30  31  32  33  34  35   18

20


21
id 23)  19 27  28  29  30  31  32  33  34  35   20

22


23
id 24)  21 27  28  29  30  31  32  33  34  35   22

24


25
id 25)  23 27  28  29  30  31  32  33  34  35   24

26


27
id 26)  25 27  28  29  30  31  32  33  34  35   26

In [33]:
Lines[5]

'     0  1   2   3   4   5   6   7   8   9   10\n'

In [22]:
filtra = Lines[7:]

In [30]:
lista_extract = []
for x in filtra[0].split(" "):
    if x == "":
        print('out')
    else:
        lista_extract.append(x.strip())

out
out
out
out
out
out
out
out
out
out
out
out

In [60]:
dic = {}
dic['id'] = lista_extract[1][:2]
for i, x in enumerate(lista_extract[2:]):
     dic[i] = x

In [61]:
l = [dic, dic, dic]

In [62]:
pd.DataFrame.from_dict(l)

   id  0   1   2   3   4   5   6   7   8   9 10
0  16  5  27  28  29  30  31  32  33  34  35  6
1  16  5  27  28  29  30  31  32  33  34  35  6
2  16  5  27  28  29  30  31  32  33  34  35  6

In [97]:
def extrae (lista):
    lista_extract_final = []
    for x in lista:
        print (x)
        lista_extract = []
        for y in x.split(" "):
            if y != "":
                lista_extract.append(x.strip())
        lista_extract_final.append(lista_extract)
    return lista_extract_final

In [99]:
def extract_lista (filtra):
    lista_extract_final = []
    for x in filtra:
        lista_extract = []
        for y in x.split(" "):
            if y != "":
                lista_extract.append(y.strip())
        if len(lista_extract)>1:
            lista_extract_final.append(lista_extract)
    return lista_extract_final

In [102]:
def generate_dic (lista_extract):
    dic = {}
    dic['id'] = lista_extract[1][:2]
    for i, x in enumerate(lista_extract[2:]):
         dic[i] = x
    return dic

In [103]:
p = extract_lista(filtra)

In [105]:
lista = []
for x in p:
    lista.append (generate_dic(x))

In [113]:
df2 = pd.DataFrame.from_dict(lista).set_index('id')

In [152]:
df2.loc['17'].to_list().index()

0

In [123]:
df2.to_csv ('mapping_keys.csv')

In [144]:
df3 = pd.read_csv ('mapping_keys.csv')

In [ ]:
pd.da

In [90]:
len(lista_extract_final[1])

13

In [91]:
lista_extract_final

[['id', '16)', '5', '27', '28', '29', '30', '31', '32', '33', '34', '35', '6'],
 ['id', '17)', '7', '27', '28', '29', '30', '31', '32', '33', '34', '35', '8'],
 ['id',
  '18)',
  '9',
  '27',
  '28',
  '29',
  '30',
  '31',
  '32',
  '33',
  '34',
  '35',
  '10'],
 ['id',
  '19)',
  '11',
  '27',
  '28',
  '29',
  '30',
  '31',
  '32',
  '33',
  '34',
  '35',
  '12'],
 ['id',
  '20)',
  '13',
  '27',
  '28',
  '29',
  '30',
  '31',
  '32',
  '33',
  '34',
  '35',
  '14'],
 ['id',
  '21)',
  '15',
  '27',
  '28',
  '29',
  '30',
  '31',
  '32',
  '33',
  '34',
  '35',
  '16'],
 ['id',
  '22)',
  '17',
  '27',
  '28',
  '29',
  '30',
  '31',
  '32',
  '33',
  '34',
  '35',
  '18'],
 ['id',
  '23)',
  '19',
  '27',
  '28',
  '29',
  '30',
  '31',
  '32',
  '33',
  '34',
  '35',
  '20'],
 ['id',
  '24)',
  '21',
  '27',
  '28',
  '29',
  '30',
  '31',
  '32',
  '33',
  '34',
  '35',
  '22'],
 ['id',
  '25)',
  '23',
  '27',
  '28',
  '29',
  '30',
  '31',
  '32',
  '33',
  '34',
  '35',
  '24'],
 ['id',
  '26)',
  '25',
  '27',
  '28',
  '29',
  '30',
  '31',
  '32',
  '33',
  '34',
  '35',
  '26']]