In [1]:
lista = []
with open('W018 - TAS1H09200365 (2021-07-13)RAW.csv', "r") as f:
    counter = 0
    for line in f:
        lista.append (line)
        counter += 1
        if counter == 30: break

In [2]:
from datetime import datetime

In [3]:
lista

['------------ Data File Created By ActiGraph GT3X+ ActiLife v6.13.4 Firmware v1.7.2 date format M/d/yyyy at 30 Hz  Filter Normal -----------\n',
 'Serial Number: TAS1H09200365\n',
 'Start Time 18:47:00\n',
 'Start Date 4/21/2021\n',
 'Epoch Period (hh:mm:ss) 00:00:00\n',
 'Download Time 00:00:19\n',
 'Download Date 1/1/2007\n',
 'Current Memory Address: 0\n',
 'Current Battery Voltage: 3.16     Mode = 12\n',
 '--------------------------------------------------\n',
 'Accelerometer X,Accelerometer Y,Accelerometer Z\n',
 '-0.031,0.016,1.082\n',
 '0.008,0.016,1.082\n',
 '0.008,0.016,1.082\n',
 '0.004,0.016,1.082\n',
 '0.004,0.016,1.082\n',
 '0.008,0.016,1.082\n',
 '0.008,0.02,1.082\n',
 '0.004,0.012,1.082\n',
 '0,0.008,1.078\n',
 '0,0.012,1.082\n',
 '0,0.016,1.082\n',
 '0.004,0.016,1.082\n',
 '0.004,0.016,1.078\n',
 '0.004,0.012,1.082\n',
 '0,0.016,1.082\n',
 '0,0.02,1.078\n',
 '0.012,0.012,1.078\n',
 '0.004,0.016,1.082\n',
 '0,0.008,1.082\n']

In [4]:
def extract_fecha (lista):
    time = []
    date = []
    for x in lista:
        for i, y in enumerate(x.split()):
            if y == 'Time':
                k = x.split().index("Time")
                time.append(x.split()[k+1])
            elif y == 'Date':
                k = x.split().index("Date")
                date.append(x.split()[k+1])
    prueba = date[0] + " " + time[0]
    datetime_object = datetime.strptime(prueba, '%m/%d/%Y %H:%M:%S')
    return datetime_object

In [5]:
fecha_activacion = extract_fecha(lista)

In [9]:
fecha_activacion

datetime.datetime(2021, 4, 21, 18, 47)

In [11]:
import datetime

In [32]:
# Prueba para restar segundos
a = datetime.datetime.now()
b = fecha_activacion
c = a - b
c.total_seconds()

9040139.802279

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel ('Dates.xlsx', engine='openpyxl', header= 1)

In [3]:
df['segundos_usando_devive'] = (df['notified EOS'] - df['activation date']).dt.total_seconds()

In [4]:
df['dias_usando_devive'] = df['notified EOS'] - df['activation date']

In [5]:
df['rows_to_split'] = df['segundos_usando_devive'] * 30

In [6]:
df['rows_to_split'] = df['rows_to_split'].astype(int)

In [7]:
df

,Unnamed: 0,wearable id,activation date,notified EOS,Hours Recorded,Submitted Q,segundos_usando_devive,dias_usando_devive,rows_to_split
0,NaN,W001,2021-04-20,2021-05-11,102.555000,9,1814400.0,21 days,54432000
1,NaN,W007,2021-03-08,2021-03-29,463.413800,7,1814400.0,21 days,54432000
2,NaN,W010,2021-02-18,2021-03-03,293.589000,5,1123200.0,13 days,33696000
3,NaN,W011,2021-05-17,2021-06-07,332.164000,7,1814400.0,21 days,54432000
4,NaN,W013,2021-05-20,2021-06-10,491.550000,9,1814400.0,21 days,54432000
5,NaN,W014,2021-05-14,2021-06-04,490.769500,9,1814400.0,21 days,54432000
6,NaN,W015,2021-05-25,2021-06-15,316.500000,0,1814400.0,21 days,54432000
7,NaN,W016,2021-05-14,2021-06-04,486.571333,9,1814400.0,21 days,54432000
8,NaN,W017,2021-05-28,2021-06-18,466.319167,4,1814400.0,21 days,54432000
9,NaN,W018,2021-05-20,2021-06-10,462.238167,7,1814400.0,21 days,54432000

In [8]:
df.to_csv('rows_to_split.csv', index = None)

In [57]:
inicio_uso = df['activation date'][9]

In [59]:
inicio_uso

Timestamp('2021-05-20 00:00:00')

In [60]:
fecha_activacion

datetime.datetime(2021, 4, 21, 18, 47)

In [73]:
a = fecha_activacion
b = inicio_uso
c = b - a
segundos = c.total_seconds()

filas_split_inciales = int (segundos * 30)

In [74]:
filas_split_inciales

73139400

In [ ]:
df['activation date']

In [75]:
# Ya tengo spliteado a partir de donde contar y ahora solo debe quedarme con las primeras X filas correspondientes al período de uso

In [98]:
inicio_uso = df['activation date'][5]

In [99]:
finalizacion = df['notified EOS'][5]

In [100]:
a = inicio_uso
b = finalizacion
c = b - a
segundos = c.total_seconds()

filas_split_inciales = int (segundos * 30)

In [101]:
segundos

1814400.0

In [38]:
df['i'] = df['activation date'].apply(str)

In [39]:
df['e'] = df['notified EOS'].apply(str)

In [54]:
df

,Unnamed: 0,wearable id,activation date,notified EOS,Hours Recorded,Submitted Q
0,NaN,W001,2021-04-20,2021-05-11,102.555000,9
1,NaN,W007,2021-03-08,2021-03-29,463.413800,7
2,NaN,W010,2021-02-18,2021-03-03,293.589000,5
3,NaN,W011,2021-05-17,2021-06-07,332.164000,7
4,NaN,W013,2021-05-20,2021-06-10,491.550000,9
5,NaN,W014,2021-05-14,2021-06-04,490.769500,9
6,NaN,W015,2021-05-25,2021-06-15,316.500000,0
7,NaN,W016,2021-05-14,2021-06-04,486.571333,9
8,NaN,W017,2021-05-28,2021-06-18,466.319167,4
9,NaN,W018,2021-05-20,2021-06-10,462.238167,7

In [23]:
lista_inicio = df.i.to_list()

In [24]:
lista_fin = df.e.to_list()

In [25]:
fecha_inicio_estudio = []
for x in lista_inicio:
    fecha_inicio_estudio.append(datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

AttributeError: module 'datetime' has no attribute 'strptime'

In [94]:
fecha_fin_estudio = []
for x in lista_fin:
    fecha_fin_estudio.append(datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

In [95]:
df['inicio_date'] = fecha_inicio_estudio

In [96]:
df['fin_date'] = fecha_fin_estudio

In [102]:
df_prepro = df[['Unnamed: 0', 'wearable id', 'activation date', 'notified EOS',
       'Hours Recorded', 'Submitted Q','inicio_date', 'fin_date']]

In [104]:
df_prepro.to_csv ('Data_datime_preprocess.csv')

In [62]:
fecha_inicio_estudio = datetime.strptime(i, '%Y-%m-%d %H:%M:%S')

In [63]:
fecha_final_estudio = datetime.strptime(e, '%Y-%m-%d %H:%M:%S')

In [66]:
duration = fecha_final_estudio - fecha_inicio_estudio
duration_in_s = duration.total_seconds()

In [68]:
duration_in_s * 30

54432000.0

In [ ]:
#a partir de la fecha de incio del estudio hay que quedarse con esas líneas

In [10]:
from datetime import datetime

dt_object = datetime.fromtimestamp(timestamp)

print("dt_object =", dt_object)
print("type(dt_object) =", type(dt_object))

TypeError: an integer is required (got type Timestamp)

In [24]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 916 kB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7
WARNING: You are using pip version 21.1.1; however, version 21.1.3 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [65]:
pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 693 kB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
WARNING: You are using pip version 21.1.1; however, version 21.1.3 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.